/**IMPORTAR FONTES **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rouge+Script&display=swap');

/**RESET PADRÃO**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/** CABEÇALHO **/
header {
    width: 100%;
    background-color: #F5B75B;
    border-bottom: 3px dotted black;

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;    
}
header > h1 {
    margin-left: 24px;
    font-size: 4rem;
}
.buttons-container {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 12px;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-around;

}
/** TITULO DE IMAGEM **/
.image-container > h1 {
    width: 30px;
    padding: 32px;
    font-size: 12rem;
    -webkit-text-stroke: rgb(255, 255, 255) 5px;
    color: rgba(255, 255, 255, 0);

}
/** LINKS DO MENU **/
nav > a {
    text-decoration: none;
    color:black;

    font-size: 1.7rem;
    margin-right: 40px;
}
#menu {
    display: none;
}
/** MENU MOBILE (USAR JS) **/
#mobile-panel {
    position: fixed;
    right: 0;
    opacity: 1;
    background-color: black;
    width: 0;
    height: 100vh;
    z-index: 2;
    transition: width 0.5s;
}
.mobile-links > a {
    display: flex;
    text-decoration: none;
    flex-flow: column wrap;
    border-bottom: 1px solid white;
    font-size: 1.1rem;
    color: white;

}
.mobile-links > h1 {
    display: flex;

}
.mobile-links {
    font-size: 1.2rem;
    z-index: 3;
    color: white;
    opacity: 1;
    padding: 16px;
    font-size: 1.2rem;

}
button {
    border: 0;
    background-color: none;
    background: none;

}
/**CONTATO**/
figure {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    gap: 12px;
}
figure > img {
    width: 10px;
    height: auto;
}
figcaption {
    font-family: sans-serif;
    padding: 12px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px ;
    border-radius: 24px;

}
/** IMAGEM DE FUNDO **/
.image-container {
    width: 100%;
    height: 668px;
    background-image: url("images/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
/** QUEM EU SOU **/
.pre-container {
    width: 100%;
    height: 70px;
    background-color: #CAA56D;

}
.about-container {
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
    width: 100%;
    height: auto;
    padding: 24px;
    background-color: #F5B75B;

    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 2fr;
}
.about-container > img {
    margin-left: 96px;
    border-radius: 12px
}
.about-container > article {
    margin-top: 24px;
    width: 90%;
    font-size: 1.5rem;
    text-align: justify;
}
.about-container > h1 {
    font-size: 3rem;
}
/** SESSÃO PSICANALISE **/
.psic-container {
    margin: 96px;
    font-size: 1.5rem;
    text-align: justify;
}
.psic-container > img {
    float: left;
    margin: 12px;
}
/** TABELA DE AGENDAMENTOS **/
.table-container {
    background-color: #756F66;
    width: 100%;
    height: auto;
    padding: 96px;
}
table {
    color: white;
    font-size: 2rem;
}
td {
    border: 1px solid white;

}
.titulo {
    border: none;
}
.h1 {
    color: white;

}
/** CONTEÚDO DA TABELA **/
.content-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/** MAPA AO LADO DA TABELA **/
.mapa {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 30px black;
    margin-left: 32px;
}
/** RODAPÉ **/
footer {
    background-color: #332B1E;
    margin-top: 100px;
    width: 100%;
    height: 237px;
    padding: 32px;
    color: white;
}
/** RESPONSIVIDADE **/
@media (max-width: 1024px) {
    /** SOBRE **/
    .about-container {
        justify-content: center;
        grid-template-columns: 1fr;
    } 
    .about-container > img {
        margin: 0;
        justify-self: center;

    }
    .about-container > article > h1 {
        text-align: center;
        font-size: 3rem;

    }
    .about-container > article {
        justify-self: center;
    }
    /** TABELA **/
    .content-table {
        gap: 96px;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 670px) {
    #arrow {
        display: none; 
    }
    header {
        z-index: 1;
        position: fixed;    
    }
    #menu {
        margin-right: 12px;
        display: flex;
    }
    nav > a {
        display: none;
    }
    .image-container > h1 {
        position: absolute;
        top: 96px;
        -webkit-text-stroke: rgb(255, 255, 255) 2px;
        font-size: 6rem;
    
    }
    .psic-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .psic-container > img {
        width: 256px;
        height: auto;
    }
    figcaption {
        display: none;
    }    
    tr {
        font-size: 1.2rem;
    }
    .buttons-container {
        flex-flow: row-reverse wrap;
    }
    .mapa {
        justify-self: center;
        width: 240px;
    }
}
@media (width > 1440px) {
    .psic-container > img {
        width: 200px;
    }

}
/** FONTES **/
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.rouge-script-regular {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
}
